* {
    box-sizing: border-box;
}
:root {
    --background:  rgba(137,139,138,1);
    --text: #ffff;
}
html {
    font-size: 10px;
}
body {
    background-color: var(--background);
    background-size: cover;
    color: var(--text);
    font-family: sans-serif;
    display: grid;
    place-items: center;
}
#quote-block {
    color: var(--text);
    margin-top: 30vh;
    width: 50rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;

}
#quote {
    background-color: rgba(137,139,138,0.7);
    text-shadow: 2px 2px 8px #1c1c1c;
}
#author {
    text-align: left;
    text-shadow: 2px 2px 8px #1c1c1c;
}

button {
    width: 15rem;
    height: 5rem;
    font-size: 1.5rem;
}
button:hover {
    background-color: var(--background);
    color: var(--text);
    border-color: var(--text);
}
.btn-div {
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 600px) {
    html {
        font-size: 6px;
    }
}